mat-form-field {
    margin-right: 52px;
}

mat-card {
    margin-top: 25px;
    background-color: aliceblue;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

button {
    margin: 8px 8px 8px 0;
}

mat-card-title {
    font-weight: bolder;
    justify-content: center;
    display: flex;
    margin-bottom: 40px;
}

.container {
    justify-content: center;
    display: inline;
}